body{
	font-family: 'Slabo 27px', serif;
	background-color: black;
	color: grey;
}
.leftside{
	margin-left: 40px;
	width: 50%;
}
.name{
	font-size: 20px; 
}
.h{
	margin-top: 55px;
}
.w{
	margin-top: -30px;
}
.line{
	border-bottom: 3px dotted grey;
	width: 96%;
	position: absolute; 

}
.photo{
	margin-top: 25px
}
.p{
	margin-top: 10px;
	margin-top: -15px;
	border-radius: 0px 25px 25px 25px;
}
.e{
	margin-top: 50px;
}
.s{
	margin-top: 15px;
}
.t{
	margin-top: -10px;
	margin-right: 325px;
	font-size: 15px;
	margin-top: -15px;
}

.t1{
	margin-top: -10px;
	margin-right: 325px;
	font-size: 15px;
	margin-top: -15px;
}
.rightside{
	font-size: 12.5px;
	margin-top: -651px;
	margin-left: 50.5%;
}
.name{
	font-size: 18px;
}
.j{
	font-size: 18px;
}
.t2{
	margin-top: -10px;
	margin-right: 250px;
	font-size: 15px;
	margin-top: -15px;
}
.c{
	font-size: 18px;
	margin-top: -6px;
	margin-bottom: -10px
}
.soc{
	font-size: 18px;
	margin-left: 260px;
	position: absolute;
	margin-top: -121px;
}
.skills{
	margin-top: 60px;
}
.u{
	margin-left: 1900px;
}
.E-mail{
	font-size: 15px;
}
.phone{
	font-size: 15px;
	margin-top: -13px;
}
.ht{
	font-size: 15px;
	margin-top: -13px;
}
.ws{
	font-size: 15px;
	margin-top: -13px;
}
.de{
	font-size: 18px;
}
.gd{
	font-size: 15px;
	margin-top: -10px;
}
.wd{
	font-size: 15px;
	margin-top: -5px;
	margin-left: 21px;
}
.cp{
	font-size: 18px
}
.hc{
	font-size: 15px;
	margin-top: -10px;
	margin-left: 27px;
}
.jq{
	font-size: 15px;
	margin-top: -5px;
	margin-left: 45px;
}
.php{
	font-size: 15px;
	margin-top: -5px;
	margin-left: 68px;
}
.sw{
	font-size: 18px
}
.ps{
	font-size: 15px;
	margin-top: -10px;
	margin-left: 32px;
}
.f{
	font-size: 15px;
	margin-top: -5px;
	margin-left: 63px;
}
.tx{
	font-size: 15px;
	margin-top: -5px;
	margin-left: 48px;
}
